# RUN THE FOLLOWING IN TERMINAL
# if venv existing run this to get rid of: Remove-Item -Recurse -Force venv
# python -m venv venv
# Set-ExecutionPolicy Unrestricted -Scope Process (if it errors run in powershell) 
# venv\Scripts\activate
# pip install -r requirements.txt

flask_socketio==5.5.1