{% extends 'base.html' %}

{% block content %}
<div class="menu-container">
  <img src="/static/menumap.png" alt="Menu Map" class="menu-map">
  <div class="menu-content">
    <h1 class="heading">Buddy Battle ⚔</h1>
    <form method="post" class="buttons">
      <div class="name-section">
        <label>Name:</label>
        <input
          type="text"
          placeholder="Pick a name!"
          name="name"
          value="{{name}}"
        />
      </div>
      <div class="form-sections">
        <div class="left-section">
          <input type="text" placeholder="Room Code" name="code" value="{{code}}" />
          <button type="submit" name="join">Join a Room</button>
        </div>
        <div class="right-section">
          <input type="number" placeholder="Max Players" name="max_players" min="2" max="10" />
          <button type="submit" name="create" class="create-btn">Create a Room</button>
        </div>
      </div>
      {% if error %}
        <ul class="error-message">
          <li>{{error}}</li>
        </ul>
      {% endif %}
    </form>
  </div>
</div>
{% endblock %}